.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    width: 400px;

    border: 1px solid #afb1b8;
    border-radius: 5px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
} 

.lable {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 20px;
}

.input {
    width: 390px;
    padding: 6px;
     
    border: 1px solid #afb1b8;
    border-radius: 5px;
}

.button {
    padding: 5px;
    width: 110px;

    font-size: 15px;
    border: 1px solid #afb1b8;
    border-radius: 5px;

    cursor: pointer;
}